.rooms-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.rooms-list__item {
    margin-right: 3.605%;
    margin-bottom: 3.605%;
    width: 30.93%;
}

.rooms-list__item:nth-child(3n) {
    margin-right: 0;
}