body {
    padding: 0;
    margin: 0;
    color: #1A212F;
    font-family: 'Lato', sans-serif;
    background-color: #FFFEFD;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 100px;
}

.button {
    padding: 15px 53px 15px 20px;
    border-radius: 25px;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: 95%; 
}

.button_secondary {
    background-image: url("/images/paw.png");
    background-color: #fff;
    color: #000;
}

.button_primary {
    background-image: url("/images/paw-2.svg");
    background-color: #FF7236;
    color: #FFFEFD;
}

@import "../components/page-header/page-header.css";
@import "../components/promo/promo.css";
@import "../components/advantages/advantages.css";
@import "../components/rooms/rooms.css";
@import "../components/rewiews/rewiews.css";
@import "../components/contact/contact.css";
@import "../components//page-footer/page-footer.css";
@import "../components/room-card/room-card.css";
