.rooms-filter__list {
    list-style: none;
    padding: 0px;
}

.rooms-filter__item {
    margin-bottom: 15px;
}

.rooms-filter__item:nth-child() {
    margin-bottom: 0;
}

rooms-filter__paragraf {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}