include ../checkbox/checkbox.pug
include ../price-filter/price-filter.pug

mixin rooms-filter()
    form
        +price-filter()
        fieldset.rooms-filter__list
            legend.rooms-filter__legend Площадь
            +checkbox({ label: '0,63 м2' }).rooms-filter__checkbox
            +checkbox({ label: '0,90 м2' }).rooms-filter__checkbox
            +checkbox({ label: '1,13 м2' }).rooms-filter__checkbox
            +checkbox({ label: '1,56 м2' }).rooms-filter__checkbox
            +checkbox({ label: '2,56 м2' }).rooms-filter__checkbox
            +checkbox({ label: '2,88 м2' }).rooms-filter__checkbox
        fieldset.rooms-filter__list
            legend.rooms-filter__legend Оснащение номера
            +checkbox({ label: 'Пустой номер' }).rooms-filter__checkbox
            +checkbox({ label: 'Лежак' }).rooms-filter__checkbox
            +checkbox({ label: 'Когтеточка' }).rooms-filter__checkbox
            +checkbox({ label: 'Игровой-комплекс' }).rooms-filter__checkbox
            +checkbox({ label: 'Домик' }).rooms-filter__checkbox
        button.rooms-filter__button Применить
        button.rooms-filter__button.rooms-filter__aplly Сбросить фильтр
        