.rooms-filter__list {
    padding: 0px;
    border: 0;
    padding-bottom: 15px;
    margin: 0;
}

.rooms-filter__checkbox {
    display: block;
    margin-bottom: 15px;
}

.rooms-filter__legend {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #1A212F;
    margin-bottom: 20px;
    padding: 0;
}

.rooms-filter__button {
    border-radius: 25px;
    border: 0;
    background-color: rgba(250, 198, 99, 1);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 185px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px
}


.rooms-filter__aplly {
    border: 2px solid rgba(250, 198, 99, 1);
    background-color: #fff;
}