<!DOCTYPE html>
include ../components/page-header/page-header.pug
include ../components/page-footer/page-footer.pug
include ../components/catalog/catalog.pug
include ../components/rooms-promo/rooms-promo.pug
include ../components/contact/contact.pug
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>koteyka</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        +page-header()
        <main>
            +catalog()
            +rooms-promo()
            +contact()
        </main>
        +page-footer()
    </body>
</html>

