<!DOCTYPE html>
include ../components/page-header/page-header.pug
include ../components/room-card/room-card.pug
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>koteyka</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        +page-header()
        <main>
            +room-card({
                title: 'Эконом', 
                image: 'images/economy-cover.png', 
                size: '90х70х180 см',
                square: '0,63 м2',
                cost: '100₽'
            })
            
            +room-card({
                title: 'Эконом плюс', 
                image: 'images/economy-plus-cover.png', 
                size: '90х100х180 см',
                square: '0,90 м2',
                cost: '200₽'
            })
        </main>
        <footer class="page-footer">
            <div class="page-footer__footer-top container">
                <img src="images/logo.svg" alt="логотип">
                <nav>
                    <ul class="page-footer__main-nav">
                        <li><a class="page-footer__link" href="#">Почему мы?</a></li>
                        <li><a class="page-footer__link" href="#">Номера</a></li>
                        <li><a class="page-footer__link" href="#">Отзывы</a></li>
                        <li><a class="page-footer__link" href="#">Как нас найти</a></li>
                    </ul>
                </nav>
            </div>
            <div class="page-footer__copyright">
                <div class="page-footer__container container">
                    <p class="page-footer__paragraph">© 2019 Все права защищены</p>
                    <p class="page-footer__paragraph">Политика конфиденциальности</p>
                </div>
            </div>
        </footer>
    </body>
</html>

