

.promo {
    background-image: url("images-promo/promo-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 140px;
}

.promo__container {
    padding-left: 140px;
}

.promo__heading {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    margin: 0;
}

.promo__paragraph {
    margin: 0;
}

.promo__cite {
    line-height: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.promo__button {
    padding: 15px 53px 15px 20px;
    border-radius: 25px;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
    background-color: #fff;
    background-image: url("images-promo/paw.png");
    background-repeat: no-repeat;
    background-position: 95%; 
}

.promo__button:hover {
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0 2px 0 0 rgba(23, 3, 3, 0.5);
}