mixin rooms-promo()
    article.rooms-promo.container
        h2.rooms-promo__title Каждый 7-й день 
            span.rooms-promo__title-span бесплатно!
        P.rooms-promo__paragraph Акция действует при размещении в номерах “Люкс” и “Супер-Люкс” 
        button.rooms-promo__button.button.button_secondary Забронировать
