mixin price-filter()
    fieldset.price-filter__list
        legend.price-filter__legend Цена за сутки,₽
        input.price-filter__cost(type="number"  min="100" max="600")
        input.price-filter__cost(type="number"  min="100" max="600")
        
        