include ../room-card/room-card.pug


mixin room-list()
    ul.room-list
        li.room-list__item
            +room-card({
                title: 'Эконом', 
                image: 'images/economy-cover.png', 
                size: '90х70х180 см',
                area: '0,63 м2',
                cost: '100₽'
            })
        li.room-list__item
            +room-card({
                title: 'Эконом плюс', 
                image: 'images/economy-plus-cover.png', 
                size: '100х125х180 см',
                area: '1,13 м2',
                cost: '250₽'
            })
        li.room-list__item
            +room-card({
                title: 'Комфорт', 
                image: 'images/comfort-cover.png', 
                size: '90х100х180 см',
                area: '0,90 м2',
                cost: '200₽'
            })
        li.room-list__item
            +room-card({
                title: 'Сьют', 
                image: 'images/suite-cover.png', 
                size: '125х125х180 см',
                area: '1,56 м2',
                cost: '350₽'
            })
        li.room-list__item
            +room-card({
                title: 'Люкс', 
                image: 'images/luxury-cover.png', 
                size: '160х160х180 см',
                area: '2,56 м2',
                cost: '500₽'
            })
        li.room-list__item
            +room-card({
                title: 'Супер-Люкс', 
                image: 'images/super-luxury-cover.png', 
                size: '180х160х180 см',
                area: '2,88 м2',
                cost: '600₽'
            })
