mixin review({ text, name, date })
    blockquote.review__quote
        p.review__paragraph #{text}    
        footer.review__basement
            cite.review__cite  #{name}
            time  #{date}