

.review__paragraph {
    font-weight: 500;
    margin-top: 0;
    line-height: 140%;
}

.review__basement {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #848484;
}

.review__cite {
    font-style: normal;
}

.review__quote {
    margin: 0;
}