

.review__paragraph {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
}

.review__basement {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #848484;
}

.review__quote {
    margin: 0;
}