mixin page-header()
    <header class="page-header">
        <div class="container page-header__header-top">
            <a href="/">
                <img src="images/logo.svg" alt="логотип">
            </a>
            <nav>
                <ul class="page-header__main-nav">
                    <li><a class="page-header__link" href="#">Почему мы?</a></li>
                    <li><a class="page-header__link "href="./catalog.html">Номера</a></li>
                    <li><a class="page-header__link "href="#">Отзывы</a></li>
                    <li><a class="page-header__link "href="#">Как нас найти</a></li>
                </ul>
            </nav>
        </div>
    </header>
