mixin page-header()
    <header class="page-header">
        <div class="page-header__header-top container">
            <a href="/">
                <img class="page-header__logo" src="images/logo.svg" alt="логотип">
            </a>
            <nav>
                <ul class="page-header__main-nav">
                    <li><a class="page-header__link" href="#">Почему мы?</a></li>
                    <li><a class="page-header__link "href="./catalog.html">Номера</a></li>
                    <li><a class="page-header__link "href="./room.html">Отзывы</a></li>
                    <li><a class="page-header__link "href="#">Как нас найти</a></li>
                </ul>
            </nav>
        </div>
    </header>
