mixin room()
    article.product-card
        div.product-card__container.container
            div.product-card__product-images 
                img.product-card__image.product-card__image_big(src="images/super-luxury-cover.png", alt="Изображение интерьера")
                img.product-card__image(src="images/super-luxury-3.png", alt="Изображение интерьера 1")
                img.product-card__image(src="images/super-luxury-2.png", alt="Изображение интерьера 2")
                img.product-card__image(src="images/super-luxury-1.png", alt="Изображение интерьера 3")
            div.product-card__product-description 
                h2.product-card__heading.heading Супер-Люкс
                dl.product-card__characteristics 
                    div
                        dt.product-card__characteristic-name Размеры (ШхГхВ) - 
                        dd.product-card__characteristic-value 180х160х180 см
                    div
                        dt.product-card__characteristic-name Площадь - 2,88 м2 
                        dd.product-card__characteristic-value 2,88 м2 
                    div
                        dt.product-card__characteristic-name Оснащение номера 

                        dd.product-card__characteristic-value.product-card__characteristic-value_equipment 
                            ul.product-card__characteristic-list 
                                li.product-card__characteristic-item
                                    img.product-card__characteristic-image(src="images/sunbed.svg")   
                                    | Лежак
                                li.product-card__characteristic-item
                                    img.product-card__characteristic-image(src="images/house.svg")   
                                    | Домик
                                li.product-card__characteristic-item
                                    img.product-card__characteristic-image(src="images/tangle.svg")   
                                    | Игровой комплекс - 3 яруса
                                li.product-card__characteristic-item
                                    img.product-card__characteristic-image(src="images/scratching-post.svg")   
                                    | Когтеточка
                    div
                        dt.product-card__characteristic-name Цена за сутки:
                        dd.product-card__characteristic-value 600₽
                button.product-card__button.button.button_primary Забронировать