mixin promo()
  article.promo
    div.promo__container.container 
      p.promo__paragraph Санкт-Петербург
      h2.promo__heading Котейка
      p.promo__cite Уютная гостиница для котов и кошек
      button.promo__button.button.button_secondary Забронировать