include ../rooms-filter/rooms-filter.pug

mixin rooms-filters() 
    ul.filters-list 
        li.filter-list__item
            +rooms-filter({
                equipment: 'Пустой номер'
            })
        li.filter-list__item    
            +rooms-filter({
                equipment: 'Лежак'
            })