mixin page-footer()
  footer.page-footer
    div.page-footer__footer-top.container
      img(src="images/logo.svg" alt="логотип")
      nav
        ul.page-footer__main-nav
          li 
            a.page-footer__link(href="#") Почему мы?
          li 
            a.page-footer__link(href="#") Номера
          li 
            a.page-footer__link(href="#") Отзывы
          li 
            a.page-footer__link(href="#") Как нас найти
    div.page-footer__copyright
      div.page-footer__container.container
        p.page-footer__paragraph © 2019 Все права защищены
        p.page-footer__paragraph Политика конфиденциальности
