.catalog__container {
    display: flex;
    justify-content: space-between;
}

.catalog__header {
    align-items: center;
    margin-bottom: 50px;
}

.catalog__rooms-filter {
    width: 17.95%;
}

.catalog__rooms-list {
    width: 74.27%;
}