include ../rooms-list/rooms-list.pug
include ../rooms-filters/rooms-filters.pug

mixin catalog() 
    div.catalog
        div.catalog__container.container
            div.catalog__title catalog-title 
            div.catalog__rooms-select rooms-select 
        div.catalog__container.container 
            div.catalog__rooms-filter 
                +rooms-filters()
            div.catalog__room-list 
                +room-list() 
