.catalog__container {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 0px;
}

.catalog__header {
    align-items: center;
    margin-bottom: 50px;
}

.catalog__title {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.catalog__rooms-filter {
    width: 17.95%;
}

.catalog__rooms-list {
    width: 74.27%;
}

