.advantages  {
    background-image: url("images-advantages/paw-big.svg");
    background-repeat: no-repeat;
    background-position: 100% 0; 
    padding-top: 98px;
    padding-bottom: 98px;
}

.advantages__heading {
    text-align: center;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 70px;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    
}