include ../advantage/advantage.pug

mixin advantages()
  article.advantages
    div.advantages__container.container
      h2.advantages__heading.heading Почему мы?
      ul.advantages__list
        +advantage({
          title: 'Комфортная температура',
          text: 'Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.',
          image: 'gradus'
        }) 
        +advantage({
          title: 'Видеонаблюдение',
          text: 'Мы предоставляем доступ в нашу систему. Вы сможете следить за своим питомцем со своего смартфона или компьютера.',
          image: 'camera'
        }) 
        +advantage({
          title: 'Услуги Зоотакси',
          text: 'Мы приедем за вашим питомцем в любой район Санкт-Петербурга.',
          image: 'taxi'
        }) 
        +advantage({
          title: 'Сбалансированное питание',
          text: 'Вы можете привезти свой корм или доверить рацион своего питомца нашим профессионалам.',
          image: 'eat'
        }) 
        +advantage({
          title: 'Ежедневные прогулки',
          text: 'По вашему желанию мы выгуливаем вашего питомца два раза в день на специализированной закрытой территории.',
          image: 'walk'
        }) 
        +advantage({
          title: 'Лучшие ветеринары',
          text: 'В гостинице 24 часа дежурит ветеринарный врач, который окажет любую помощь в случае необходимости.',
          image: 'veterinarian'
        }) 