mixin advantages()
  article.advantages
    div.advantages__container.container
      h2.advantages__heading Почему мы?
      ul.advantages__list
          li.advantages__advantages-item.advantages__advantages-item_gradus
            h3 Комфортная температура
            p.advantages__paragraph
               | Во всех номерах поддерживается<br>
               | комфортная температура в пределах<br>
               | 23 - 25 градусов. В каждом номере<br>
               | можно дополнительно отрегулировать<br> температуру. 
          li.advantages__advantages-item.advantages__advantages-item_camera
            h3 Видеонаблюдение
            p.advantages__paragraph
               | Мы предоставляем доступ в нашу<br>
               | систему. Вы сможете следить<br>
               | за своим питомцем со своего<br>
               | смартфона или компьютера.
          li.advantages__advantages-item.advantages__advantages-item_taxi
            h3 Услуги Зоотакси
            p.advantages__paragraph
               | Мы приедем за вашим питомцем<br>
               | в любой район Санкт-Петербург
          li.advantages__advantages-item.advantages__advantages-item_eat
            h3 Сбалансированное питание
            p.advantages__paragraph
               | Вы можете привезти свой корм<br>
               | или доверить рацион своего<br>
               | питомца нашим профессионалам.
          li.advantages__advantages-item.advantages__advantages-item_walk
            h3 Ежедневные прогулки
            p.advantages__paragraph
               | По вашему желанию мы выгуливаем<br>
               | вашего питомца два раза в день<br>
               | на специализированной закрытой<br>
               | территории.
          li.advantages__advantages-item.advantages__advantages-item_veterinarian
            h3 Лучшие ветеринары
            p.advantages__paragraph
               | В гостинице 24 часа дежурит<br>
               | ветеринарный врач, который окажет<br> 
               | любую помощь в случае необходимости.