include ../advantage/advantage.pug

mixin advantages()
  article.advantages
    div.advantages__container.container
      h2.advantages__heading Почему мы?
      ul.advantages__list
          li.advantages__advantages-item.advantages__advantages-item_gradus
            +advantage({
              title: 'Комфортная температура',
              text: 'Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.'
            }) 
          li.advantages__advantages-item.advantages__advantages-item_camera
            +advantage({
              title: 'Видеонаблюдение',
              text: 'Мы предоставляем доступ в нашу систему. Вы сможете следить за своим питомцем со своего смартфона или компьютера.'
            }) 
          li.advantages__advantages-item.advantages__advantages-item_taxi
            +advantage({
              title: 'Услуги Зоотакси',
              text: 'Мы приедем за вашим питомцем в любой район Санкт-Петербурга.'
            }) 
          li.advantages__advantages-item.advantages__advantages-item_eat
            +advantage({
              title: 'Сбалансированное питание',
              text: 'Вы можете привезти свой корм или доверить рацион своего питомца нашим профессионалам.'
            }) 
          li.advantages__advantages-item.advantages__advantages-item_walk
            +advantage({
              title: 'Ежедневные прогулки',
              text: 'По вашему желанию мы выгуливаем вашего питомца два раза в день на специализированной закрытой территории.'
            }) 
          li.advantages__advantages-item.advantages__advantages-item_veterinarian
            +advantage({
              title: 'Лучшие ветеринары',
              text: 'В гостинице 24 часа дежурит ветеринарный врач, который окажет любую помощь в случае необходимости.'
            }) 