.checkbox__input {
    display: none;
}

.checkbox__label {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.checkbox__label::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 1px solid #E1E1E1;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}

.checkbox__input:checked + .checkbox__label::before {
    background-image: url("images/check-mark.png");
}
