mixin contact({ number })
    article.contact
      div.container.contact__container
        h2.contact__heading Как нас найти
        dl.contact__characteristics
            div
                dt.contact__characteristic-name Адрес     
                dd.contact__characteristic-value Санкт-Петербург, <br>
                    | ул Большая Конюшенная, д 19
            div
                dt.contact__characteristic-name Режим работы
                dd.contact__characteristic-value Ежедневно, с 9:00 до 20:00
            div
                dt.contact__characteristic-name Телефон
                dd.contact__characteristic-value 8 (800) 333-55-99
            div
                dt.contact__characteristic-name E-mail
                dd.contact__characteristic-value info@cat-hotel.ru 
            div
                dt.contact__characteristic-name Социальные сети
                dd.contact__links 
                    a.contact__link.contact__link_facebook(href="#")
                    a.contact__link.contact__link_instagram(href="#")
                    a.contact__link.contact__link_vkontacte(href="#")
      img(src="images/map.jpg" alt="карта")
