mixin rooms-select()
    details.rooms-select__sort
        summary.rooms-select__option ↑ По площади
        ul.rooms-select__list
            li.rooms-select__option ↑ По площади
            li.rooms-select__option ↓ По площади
            li.rooms-select__option ↑ По цене
            li.rooms-select__option ↓ По цене